@model TimelessTechnicians.UI.Models.Consumable
@await Html.PartialAsync("_Notification")
@await Html.PartialAsync("_Navbar")
@{
    ViewData["Title"] = "Take Stock";
}

<h2>Take Stock</h2>

<form asp-action="TakeStock" method="post">
    <div class="form-group">
        <label for="Name">Consumable</label>
        <input type="text" id="Name" class="form-control" value="@Model.Name" readonly />
    </div>

    <div class="form-group">
        <label for="QuantityAvailable">Available Quantity</label>
        <input type="text" id="QuantityAvailable" class="form-control" value="@Model.Quantity" readonly />
    </div>

    <div class="form-group">
        <label for="Quantity">Quantity to Take</label>
        <input type="number" id="quantityTaken" name="quantityTaken" class="form-control" min="1" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Take Stock</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
